<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputeServlet</servlet-name>
        <servlet-class>ComputeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>ComputingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputingServlet</servlet-name>
        <servlet-class>ComputingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHistory</servlet-name>
        <servlet-class>ServletHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbsenceServlet</servlet-name>
        <servlet-class>AbsenceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputeServlet</servlet-name>
        <url-pattern>/ComputeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputingServlet</servlet-name>
        <url-pattern>/ComputingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHistory</servlet-name>
        <url-pattern>/ServletHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbsenceServlet</servlet-name>
        <url-pattern>/AbsenceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
